
<style>
.site-footer {
 
    text-align: center;
    font-size: 14px;
    color: #fff; 
    padding: 20px 0; 
}

.site-footer p {
    margin: 0;
}

.site-footer ul {
    list-style: none;
    padding: 0;
}

.site-footer ul li {
    display: inline-block;
    margin-right: 20px;
}

.site-footer a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s; 
}

.site-footer a:hover {
    color: #E50914;
}

</style>
<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            <p>All rights reserved © Movie Library</p> 
        </div>
    </div>
</footer>
