<style>
    .signin-container h1 {
    margin-right: 50%;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.signin-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 64%;
    margin-left: 15%;
    padding: 15px;
    background-color: transparent;
    border: 1px solid white;
    margin-bottom: 10px;
}

button {
    background-color: #6082B6;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    width: 30%;
    margin-left: 30%;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: #4a6a8c;
    transform: scale(1.05);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

@keyframes slide-in {
      from { transform: translateX(-100%); }
      to { transform: translateX(0); }
    }
    
</style>

<div class="signin-container">
    <h1>Sign In</h1>
    <form action="/users/createsession" method="post" onsubmit="return validateForm()">
        <input type="text" id="email" name="email" placeholder="Enter your email">
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <button type="submit">Sign In</button>
        <p class="error-message" id="errorMessage" style="display: none;">Invalid user</p>
    </form>
</div>

<script>
    function validateForm() {
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        fetch('/users/createsession', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({
        email: email,
        password: password
    })
})
.then(response => response.json())
.then(data => {
    if (!data.exists) {
        alert("Invalid user");
        document.getElementById("errorMessage").style.display = "block";
        return false;
    }
    return true;
})
.catch(error => console.error(error));
    }
</script>