.movies-list{
    text-align: center;
    margin: 2% 3%;
    background-color: rgb(0,0,0,0.7);

}
.movies-list h1{
    font-size: 2.5vw;
}

.movies-list ul {
    display: flex;
    justify-content: space-between;
}
.movies-list ul li{
    list-style: none;
    font-size: 2vw;
    padding: 1% 1%;
    margin-bottom: 10px;
}

.movies-list ul li a{
    text-decoration: none;
    color: white;

}